html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

button, input {
    outline: none;
}

p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-section {
    margin-bottom: 80px;
}

body {
    width: 100%;
    color: #2F3035;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    font-family:"SFProDisplay", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
}

.header-top__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 122px;
    font-family: 'SFRProDisplay' sans-serif;
    font-weight: 700;
}

.menu__item {
    display: inline-block;
}

.menu__item+.menu__item {
    padding-left: 50px;
}

.header__item-box {
    display: flex;
}

.header__adress {
    margin-right: 60px;
    width: 265px;
    padding-left: 30px;
    position: relative;
}

.header__adress::before {
    content: '';
    position: absolute;
    background-image: url('../images/geo.svg');
    width: 30px;
    height: 30px;
    left: 0;
    top: -10px;
}

.user-list {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.user-list__item {
    padding-right: 10px;
}

.basket {
    position: relative;
}

.basket-num {
    position: relative;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #1C62CD;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    bottom: -8px;
    right: 30px;
}

.menu-categories {
    background-color: #F0F0F4;
    display: flex;
    justify-content: space-around;
    min-height: 53px;
    align-items: center;
}

.menu-categories__item {
    position: relative;
}

.menu-categories__link {
    position: relative;
    padding: 15px 0 14px;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
}

.menu-categories__link::before {
    content: '';
    position: absolute;
    width: 0;
    left: auto;
    right: 0;
    background-color: #1C62CD;
    height: 3px;
    bottom: -2px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.menu-categories__link:hover {
    color: #000;
}

.menu-categories__link:hover::before {
    width: 100%;
    left: 0;
    right: auto;
}

.header__header-bottom {
    margin-bottom: 80px;
}

.banner-section__inner {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
}

.banner-section__slider {
    max-width: 870px;
    position: relative;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.banner-section__slider-btnprev {
    left: 20px;
}

.banner-section__slider-btnnext {
    right: 20px;
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button {
    padding: 0;
    font-size: 0;
    width: 11px;
    height: 11px;
    margin: 0;
    border: 1px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: transparent;
}

.slick-active  button {
    background-color: #fff;
}

.sale-item {
    max-width: 265px;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sale-item__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sale-item__info {
    color: #fff;
    background-color: #1C62CD;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

.sale-item__price {
    text-align: right;
}

.price {
    font-family: 'Barlow', sans-serif;
    position: relative;
}

.sale-item__price-new {
    font-weight: 700;
    font-size: 27px;
    color: #1C62CD;
    line-height: 32px;
    margin-right: 6px;
    padding-right: 20px;
}

.sale-item__price-new::after {
    content: '';
    background-image: url('../images/icon-priсe.svg');
    position: absolute;
    right: 0;
    top: 8px;
    width: 15px;
    height: 18px;
}

.sale-item__price-old {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #c4c4c4;
    margin-right: 11px;
    background-image: url('../images/icon-old-line.svg');
    padding: 2px 5px;
    background-repeat: no-repeat;
    display: inline-block;
}

.sale-item__price-old::after {
    content: '';
    background-image: url('../images/icons-priсe-old.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: -12px;
    top: 7px;
    width: 15px;
    height: 10px;
}

.sale-item__footer {
    background-color: #F0F0F4;
    padding: 25px 20px;
    font-size: 18px;
    line-height: 21px;
}

.sale-item__footer span {
    color: #1C62CD;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
}

.sale-item__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-bottom: 7px;
}

.banner-section__slider-img {
    object-fit: cover;
/*     max-width: 400px; */
}

.sale-item__img {
    object-fit: contain;
}

.serch__tabs {
    margin-bottom: 25px;
}

.serch__tabs-item {
    padding: 11px 26px 12px;
}

.serch__tabs-item.tab--active {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background: #F0F0F4;
    font-weight: 700;
}

.search__content-item {
    display: none;
}

.search__content-item.tabs-content--active {
    display: block;
}

.serch__content-form {
    display: flex;
}

.serch__content-input {
    background: #F0F0F4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px 20px;
    border: none;
    width: 100%;
}

.serch__content-input::placeholder {
    color: #656464;
}

.serch__content-btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #FFF;
    background: #1C62CD;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 17px 41px;
    border: none;
    margin-left: -3px;
}

.categories__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.categories__item {
    margin-bottom: 30px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    width: 370px;
    padding: 20px 20px 16px;
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 16px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.categories__item-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.categories__item-img {
    text-align: center;
    width: 50%;
}

.categories__item-img img {
    max-width: 100%;
}

.categories__item-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 8px;
    font-family: 'Barlow', sans-serif;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.categories__item:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, .25);
}

.categories__item:hover .categories__item-title {
    color: #1C62CD;
}

.categories__item-text {
    color: #c4c4c4;
    font-size: 14px;
    line-height: 17px;
}

.categories__item-text::after {
    content: url("../images/img-arr-right.svg");
    padding-left: 3px;
}

.tabs-content{
    height: auto;
}
.product-item__wrapper {
    position: relative;
    width: 271px;
    display: flex;
    flex-direction: column;
}

.product-item__wrapper.product-item__wrapper--list{
    width:100%;
    transition: all .3s;
}

.product-item {
    width:100%;
    min-height: 400px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    padding: 52px 20px 31px;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.product-item__desctiption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 14px 0 25px;
    max-height: 100px;
}


.product-item__title {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}


.product-item__favorite {
    position: absolute;
    top: 16px;
    right: 19px;
    width: 24px;
    height: 22px;
    background: transparent;
    border: none;
    z-index: 5;
}

.product-item__favorite::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 22px;
    top: 0;
    left: 0;
    background-image: url('../images/favorite.svg');
}

.product-item__favorite--active::before {
    background-image: url('../images/favorite-active.svg');
}

.product-item__price {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
}

.product-item__basket {
    position: absolute;
    width: 60px;
    height: 40px;
    background-color: #fff;
    background: #1C62CD;
    border-radius: 10px 0px 0px 0px;
    border: none;
    bottom: 0;
    right: 0;
    padding-top: 7px;
    padding-left: 15px;
    cursor: pointer;
    -webkit-border-radius: 10px 0px 0px 0px;
    -moz-border-radius: 10px 0px 0px 0px;
    -ms-border-radius: 10px 0px 0px 0px;
    -o-border-radius: 10px 0px 0px 0px;
}

.product-item__hover-text {
    padding: 18px 21px;
    background-color: rgba(255, 255, 255, .9);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: block;
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    left: 33px;
}

.product-item:hover .product-item__hover-text {
    opacity: 1;
    color: #3F3035;
}

.product-item:hover {
    color: #1C62CD;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.product-item:hover .product-item__notify-text {
    color: #2F3035;
}

.product-item--sale::before {
    content: "SALE";
    padding: 8px 15px;
    background-color: #1C62CD;
    position: absolute;
    left: 0;
    top: 0;
    text-transform: uppercase;
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-available .product-item__price {
    display: none;
}

.product-item__notify-text {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 27px;
}

.product-item__wrapper.product-item__not-available .product-item__notify-text {
    display: block;
}

.product-item__wrapper.product-item__not-available .product-item__basket {
    display: none;
}

.product-item__notify-link {
    display: none;
}



.product-item__wrapper.product-item__not-available .product-item__notify-link {
    display: block;
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #1D62CD;
    left: 0;
    right: 0;
}

.product-item__wrapper.product-item__not-available .product-item__notify-link span {
    border-bottom: 1px solid #1D62CD;
}

.product-title {
    flex: auto;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 25px;
}

.products__tab+.products__tab {
    margin-left: 50px;
}

.products__tabs {
    padding-bottom: 10px;
}

.products__tabs .tab--active {
    border-bottom: 2px solid #1C62CD;
}
.tabs-content.products__content {
    display: none;
}

.tabs-content.products__content.tabs-content--active {
    display: block;
}
.product-slider__slider-btnprev {
    left: -30px;
}

.product-slider__slider-btnnext {
    right: -10px;
}

.slick-slide img {
    display: inline-block;
}

.product__more {
    text-align: center;
    margin: 35px 0 80px;
}

.product__more-link {
    line-height: 18px;
    letter-spacing: 0.12em;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #F0F0F4;
    padding: 16px 43px;
    display: inline-block;
}

.banner{
    margin-bottom: 60px;
}

.footer{
    margin-top: 96px;
    background: #F0F0F4;
}

.footer__bottom{
    padding: 46px 0 22px;
    display: flex;
    justify-content: center;
}

.footer__bottom-link{
    line-height:12px;
    color:#48494D;
    font-size: 10px;
    margin: 0 40px;
}

.footer__bottom-link:nth-child(n-1){
    margin-left: 115px;
}

.footer__top-inner{
    display: flex;
    justify-content: space-between;
}

.footer__top-newslatter.footer__top-item{
    width: 295px;
    margin-right: 120px;
}

.footer__top-title{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
}

.footer__form{
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.footer__form-input {
    background-color:#fff;
    border:none;
    line-height: 17px;
    font-style: 14px;
    padding: 0 12px;
}

.footer__form-input::placeholder{
    color: #c4c4c4;
}


.footer__form-btn {
    text-transform: uppercase;
    padding: 10px 16px;
    border:none;
    background-color: #1C62CD;
    color: #FFF;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.12em;
}

.footer__top-item{
    width: 200px;
}

.footer-list{
    font-size: 14px;
    line-height: 22px;
}

.footer__top-social.footer__top-item{
    width: 250px;
}

.social-list{
    display: flex;
    align-items: center;
    height:100%;
}

.social-item + .social-item{
    margin-left: 30px;
}

.product-item__img-img{
    width: 229px;
    height: 153px;
}

.product-item__img-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.breadcrumbs {
    margin-bottom: 40px;
}

.breadcrumbs__list-item {
    display: inline-block;
    padding-right: 16px;
    margin-right: 10px;
    position: relative;
    font-family: "SFProDisplay", sans-serif ;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #C4C4C4;
}
.breadcrumbs__list-item::after{
    content:"";
    position: absolute;
    right: 0;
    background-image: url('../images/arrow-link.svg');
    width: 6px;
    height: 10px;
    bottom:4px;
}
.breadcrumbs__list-item:last-child::after{
    display: none;
}

.catalog{
    margin-bottom: 100px;
}
.catalog__title{
    font-family: "SFProDisplay-Bold", sans-serif;
    margin-bottom: 26px;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    color: #2F3035;
}

.catalog__filter{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.catalog__filter-items button{
    font-size: 14px;
    line-height: 17px;
    opacity: 0.7;
    background-color: #f0f0f4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none;
    padding: 5px 22px;
    cursor: pointer;
}

.catalog__filter-items button + button{
    margin-left: 8px;
    cursor: pointer;
}

.catalog__filter-btn{
	display: flex;
	align-items: center;
}

.catalog__filter-btn button{
    border:none;
    background-color:transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.catalog__filter-btn button + button{
    margin-left: 10px;
}

button.catalog__filter-btngrid{
	width: 26px;
	height: 21px;
}

button.catalog__filter-btnline{
	width: 25px;
	height: 19px;
}

.catalog__filter-button{
	opacity: .3;
}

.catalog__filter-button--active{
	opacity: 1;
}
.select-item{
	border:1px solid #D7D9DF;
	font-family: "SFProDisplay", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #2F3035;
	margin-right: 34px;
	padding: 7px 10px 7px 20px;
}

.catalog__inner{
    display: flex;
}

.catalog__inner-aside{
    min-width: 290px;
    margin-right: 10px;
}

.catalog__inner-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper{
    margin-bottom: 30px;
}

.pagination{
    width: 100%;
    margin-top: 70px;
}

.pagination-list{
    display: flex;
    justify-content: center;
}

.pagination-list__item{
    padding: 6px 12px;
    border: 2px solid transparent;
    margin: 0 4px;
    line-height: 22px;
    font-size: 18px;
    color:#C4C4C4;
}

.pagination-list__item.active{
    border: 2px solid #1D62CD;
    color:#1D62CD;
}

.pagination-list__item a{
    display: block;
}

.asidde-filter__tabs{
    display: flex;
    justify-content: space-between;
}

.aside-filter__tab{
    font-family: "SFProDisplay", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #C4C4C4;
    width: 49%;
}

.aside-filter__tab.tab--active{
    color: #2F3035;
}

.aside-filter__tab.tab--active span{
    display: inline-block;
    border-bottom: 2px solid #1C62CD;
    padding-bottom: 7px;
}


.aside-filter__item-drop{
    margin: 40px 0;
}

.aside-filter__item-title{
    font-family:'SFProDisplay-Bold' sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    padding-left: 26px;
}
.filter__item-drop{
    position: relative;
    cursor: pointer;
}

.filter__item-drop::before{
    content:"";
    background-image: url("../images/down-arrow.svg");
    position: absolute;
    width: 12px;
    height: 8px;
    left: 0;
    bottom: 4px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.filter__item-drop--active::before{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);

}

.aside-filter__content{
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    margin-top: 10px;
}

.aside-filter__content-box{
    width: 50%;
    margin-bottom: 10px;
}

.aside-filter__content-label{
    font-family: "SFProDisplay", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #2F3035;
    cursor: pointer;
}

.jq-checkbox, .jq-radio{
    background: #fff;
    width: 14px;
    height: 14px;
    border:1px solid #c4c4c4;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    box-shadow: none;
    vertical-align: -3px;
}

.jq-checkbox.checked, .jq-radio.checked{
    background: #1c62cd;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    -ms-border-radius:0;
    -o-border-radius:0;
}
.jq-checkbox.checked .jq-checkbox__div{
    width: 8px;
    height: 6px;
    margin: 3px 0 0 3px;
    border-bottom: none;
    border-left: none;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* background-image: url('../images/checked.svg'); */
}

.aside-filter__content-radio,.aside-filter__content-checkbox{
    display:flex;
    justify-content: space-between;
}
.irs--flat{
    width: 100%;
    margin-top: -15px;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}



.irs--flat .irs-min, .irs--flat .irs-max{
    top: 55px;
    padding: 0;
    line-height: 17px;
    text-decoration: underline;
    font-size: 14px;
    color: #2f3035;
    font-family: "Barlow",sans-serif;
    text-shadow: none;
    background: transparent;
    border-radius: 0;
    visibility: visible !important;
    padding-left: 27px;
}
.irs-min::before, .irs-max::before{
    position: absolute;
    left: 0;
    padding-right: 5px;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #c4c4c4;
}

.irs-min::before{
    content: "от";
}
.irs-max::before{
    content: "до";
}

.irs--flat .irs-line {
    top: 25px;
    height: 1px;
    background-color: #e0e0e0;
    border-radius: 0;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 3px;
    background-color: #1C62CD;
}

.irs--flat .irs-handle{
    top: 22px;
    width: 8px;
    height: 8px;
    background-color: #1C62CD;
    border-radius: 50%;
}


.irs--flat .irs-handle>i:first-child,
.irs--flat .irs-handle.state_hover>i:first-child,
.irs--flat .irs-handle:hover>i:first-child{
    background: transparent;
}

.aside-filter__item-list {
    margin: 46px 0 40px;
    
}

.filter__item-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #C4C4C4;
    padding-top: 34px;
}
.filter__item-listtitle {
    padding-bottom: 14px;
    font-family: "SFProDisplay", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #2F3035;
    padding-left: 26px;
}

.jq-selectbox__select{
    font-family: "Barlow", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #48494D;
    height: 20px;
    padding: 0 25px 0 10px;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    text-shadow: none;
    border: 0;
}

.jq-selectbox__trigger-arrow{
    display: none;
}

.jq-selectbox__trigger{
    background-image: url("../images/down-arrow.svg"); 
    bottom: 5px;
    width: 12px;
    height: 8px;
    border-left: 0;
    top: 6px;
    right: 9px;
}

.jq-selectbox.focused .jq-selectbox__select{
	border: none;
}

.jq-selectbox li:hover{
	background: rgba(107,126,172, .05);
	color: rgba(0,0,0, .6);
}

.jq-selectbox li.selected{
	background: rgba(107,126,172, .05);
	color: rgba(0,0,0, .6);	
}

.jq-selectbox li{
	color: rgba(0,0,0, .6);
}

.jq-selectbox__dropdown{
	border-radius: 0;
	padding-top: 15px;
}

.filter-more {
	width: 100%;
}

.filter-more__link {
	border:none;
	border-bottom: 1px solid #1C62CD;
	font-family:'SFProDisplay-Regular' sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	background-color: transparent;
	color: #1C62CD; 
	padding: 0;
	cursor: pointer;
}

.filter-serch {
	width: 100%;
	height: 30px;
	padding: 0 20px;
	line-height: 14px;
	font-size: 12px;
	border:1px solid #E0E0E0;
	margin-top: 20px;
	margin-bottom: 20px;
}

.filter-serch::plaseholder{
	color: #BDBEC2;
}

.btn-checked .aside-filter__content{
	flex-wrap: nowrap;
}

.btn-checked .aside-filter__content-box{
	width: auto;
}

.btn-checked .aside-filter__content-label{
	position: relative;
	height: 25px;
	width: 63px;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.07em;
	font-weight: bold;
	color: #C4C4C4;
}

.btn-checked .jq-checkbox{
	height: 25px;
	width: 63px;
	background-color: #f0f0f4;	
	border:none;
}

.btn-checked .jq-checkbox__div{
	display: none;
}

.btn-checked .jq-checkbox.checked{
	background-color: #1C62CD;
	color: #fff;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text{
	color: #fff;
}

.btn-checked__text {
	position: absolute;
	top: -5px;
	left: 50%;
	transform: translateX(-57%);
	z-index: 5;
}

.filter-btn__send {
	background: #F0F0F4;
	padding: 16px 85px;
	font-family:'SFProDisplay-Regular' sans-serif;
	font-weight: 400;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #BDBEC2;
	border:none;
	cursor: pointer;
	margin-bottom: 15px;
}

.filter-btn__send--active{
	background-color: #1C62CD;
	color: #fff;
}

.aside-filter__item-btn{
	text-align: center;
}

.filter__extra{
	font-family:'SFProDisplay-Regular' sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	color: #2F3035;
	padding-right: 29px;
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
}

.filter__extra::after{
	content: "";
	position: absolute;
	right: 0;
	background-image: url("../images/down-arrow.svg");
	width: 12px;
	height: 8px;
	top: 5px;
}

.filter__extra-content{
	display: none;
}

.filter__extra.filter__item-drop--active::after{
	transform: rotate(180deg);
}

.filter-btn__reset{
	background-color: transparent;
	padding: 0;
	border: none;
	font-family: "SFProDisplay", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	border-bottom: 1px solid #c4c4c4;
	display: inline-block;
	color: #C4C4C4;
	cursor: pointer;
}
