html{
	box-sizing: border-box;
}
*, *::before, *::after{
	box-sizing: inherit;
}
a{
	text-decoration: none;
	color: inherit;
	display: inline-block;
}
button{
	outline: none;
}
p{
	margin: 0;
}
ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.page-section{
	margin-bottom: 80px;
}
body{
width: 100%;
color: #2F3035;
font-size: 20px;
line-height: 24px;
font-weight: 400;
font-family: sans-serif;
}

.container{
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}	

.header-top__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: 122px;
	font-family: 'SFRProDisplay' sans-serif;
	font-weight: 700;
}

.menu__item {
	display: inline-block;
}
.menu__item + .menu__item{
	padding-left: 50px;
}
.header__item-box{
	display: flex;
}
.header__adress {
	margin-right: 60px;
	width: 265px;
	padding-left: 30px;
	position: relative;
}

.header__adress::before {
	content: '';
	position: absolute;
	background-image: url('../images/geo.svg');
	width: 30px;
	height: 30px;
	left: 0;
	top: -10px;
}
.user-list {
	display: flex;
	align-items: center;
	margin-right: 15px;
}

.user-list__item {
	padding-right: 10px;
}
.backet{
	position: relative;
}
.backet-num{
	position: relative;
	font-weight: 500;
	font-size: 10px;
	line-height: 20px;
	width: 20px;
	height: 20px;
	color: #fff;
	background-color:#1C62CD;
	text-align: center;
	border-radius:50%;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	bottom: -8px;
	right: 15px;
}

.menu-categories {
	background-color:#F0F0F4;
	display: flex;
	justify-content: space-around;
	min-height: 53px;
	align-items: center;
}
.menu-categories__item {
	position: relative;
	
}
.menu-categories__link{
	position: relative;
	padding: 15px 0 14px;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
}
.menu-categories__link::before{
	content: '';
	position: absolute;
	width: 0;
	left: auto;
	right: 0;
	background-color:#1C62CD;
	height: 3px;
	bottom: -2px;
	transition: all 1s linear;
	-webkit-transition: all 1s linear;
	-moz-transition: all 1s linear;
	-ms-transition: all 1s linear;
	-o-transition: all 1s linear;
}
.menu-categories__link:hover {
	color:#000;
}
.menu-categories__link:hover::before{
	width: 100%;
	left: 0;
	right: auto;
}
.header__header-bottom {
	margin-bottom: 80px;
}
.banner-section__inner {
	display: flex;
	justify-content: space-between;
}
.banner-section__slider {
	max-width: 870px;
	position: relative;
}
.banner-section__slider-btn{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	z-index: 5;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}
.banner-section__slider-btnprev{
	left: 20px;
}
.banner-section__slider-btnnext{
	right: 20px;
}
.slick-dots{
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
}
.slick-dots li{
	display: inline-block;
	padding: 0 5px;
}
.slick-dots button{
	padding: 0;
	font-size: 0;
	width: 11px;
	height: 11px;
	margin: 0;
	border:1px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	background-color:transparent;
}
.slick-active button{
	background-color: #fff;
}
.sale-item{
	max-width: 265px;
	text-align: center;
	border:1px solid #cdcdcd;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.sale-item__top{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.sale-item__info{
	color: #fff;
	background-color:#1C62CD;
	padding: 8px 20px;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.1em;
}
.sale-item__prise{
	text-align: right;
}
.prise{
	font-family: 'Barlow', sans-serif;
	position: relative;
}
.sale-item__prise-new{
	font-weight: 700;
	font-size: 27px;
	color: #1C62CD;
	line-height: 32px;
	margin-right: 6px;
	padding-right: 20px;
}
.sale-item__prise-new::after{
	content: '';
	background-image: url('../images/icon-prise.svg');
	position: absolute;
	right: 0;
	top: 8px;
	width: 15px;
	height: 18px;
}
.sale-item__prise-old{
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #c4c4c4;
	margin-right: 11px;
	background-image: url('../images/icon-old-line.svg');
	padding: 2px 5px;
	background-repeat: no-repeat;
	display: inline-block;
}
.sale-item__prise-old::after{
	content: '';
	background-image: url('../images/icons-prise-old1.svg');
	background-repeat: no-repeat;
	position: absolute;
	right: -12px;
	top: 7px;
	width: 15px;
	height: 10px;
}
.sale-item__footer{
	background-color: #F0F0F4;
	padding: 25px 20px;
	font-size: 18px;
	line-height: 21px;
}
.sale-item__footer span{
	color: #1C62CD;
	font-weight: 700;
	font-family: 'Barlow', sans-serif;
}
.sale-item__title{
	font-size: 18px;
	font-weight: 700;
	line-height: 21px;
	margin-bottom: 7px;
}
banner-section__slider-img{
	object-fit: cover;
	max-width: 400px;
}
.sale-item__img{
	object-fit: contain;
}

.serch__tabs{
	margin-bottom: 25px;
}
.serch__tabs-item{
	padding: 11px 26px 12px;
}

.serch__tabs-item--active{
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	background: #F0F0F4;
	font-weight: 700;
}
.serch__content-item{
	display: none;
}
.serch__content-item--active{
	display: block;
}
.serch__content-form{
	display: flex;
}
.serch__content-input{
	background:#F0F0F4;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-o-border-radius:3px;
	padding: 5px 20px;
	border: none;
	width: 100%;
}
.serch__content-input::placeholder{
	color: #656464;
}
.serch__content-btn{
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	color: #FFF;
	background: #1C62CD;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	padding: 17px 41px;
	border:none;
	margin-left: -3px;
}

.categories__inner{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.categories__item{
	margin-bottom: 30px;
	border: 1px solid #CDCDCD;
	border-radius: 3px;
	width: 370px;
	padding: 20px 20px 16px;
	display: flex;
	justify-content: space-between;
	padding: 20px 20px 16px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
}


.categories__item-info{
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.categories__item-img{
	text-align: center;
	width: 50%;
}

.categories__item-img img{
	max-width: 100%;
}

.categories__item-title{
	font-weight: 700;
	font-size: 23px;
	line-height: 28px;
	font-family: 'Barlow',sans-serif;
	transition: all 1.5s;
	-webkit-transition: all 1.5s;
	-moz-transition: all 1.5s;
	-ms-transition: all 1.5s;
	-o-transition: all 1.5s;
}
.categories__item:hover{
	box-shadow: 3px 3px 20px rgba(50,50,50 .25);
}
.categories__item:hover .categories__item-title{
	color: #1C62CD;
}
.categories__item-text{
	color: #c4c4c4;
	font-size: 14px;
	line-height: 17px;
}

.categories__item-text::after{
	content:url("../images/img-arr-right.svg");
	padding-left: 3px;
}












